body {
	font-size:10px;
	font-family: Arial;
	color: #404040;
}

.results-widgets{
	max-width: 800px;
	margin: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}