.lang_english{
	.share-tools-holder{
		display: block;
	}
	.minutes-to-earn .minutes-to-earn--football-pitch{
		margin: auto;
	}
}
.lang_russian{
	font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;

	.compare-again .compare-again--button{
		max-width: 360px;
	}
	.user-form .user-form--button{
		max-width: 360px;
	}
}

.lang_arabic{
	font-size: 12px;
	font-family: BBCNassim, arial, verdana, sans-serif;

	.bar-chart{
		direction: ltr;
	}

	.user-form .user-form--input__dropdown, .compare-again .compare-again--input__dropdown{
		background-position: center left;
	}
}