<form class="compare-again">
    <div class="input-section">
        <label for="comparePlayerAgain" class="player"><%= vocabs.label_player %></label>
         <select name="comparePlayerAgain" class="compare-again--input compare-again--input__dropdown compare-again--input__player">
            <optgroup class="compare-again--player__premier" label="<%= vocabs.option_group_premier %>">
            </optgroup>
            <optgroup class="compare-again--player__int" label="<%= vocabs.option_group_int %>">
            </optgroup>
        </select>   
    </div>
    
    <div class="player-stand">
        <!-- PLAYER STAND WILL BE LOADED HERE-->
    </div>

    <input class="compare-again--button" type="submit" value="<%= vocabs.form_submit %>" />

</form>