<form class="compare-again">
    <div class="input-section">
        <label for="comparePlayerAgain" class="player">Compare yourself with:</label>
         <select name="comparePlayerAgain" class="compare-again--input compare-again--input__dropdown compare-again--input__player">
            <optgroup class="compare-again--player__premier" label="Premier League players">
            </optgroup>
            <optgroup class="compare-again--player__int" label="International players">
            </optgroup>
        </select>   
    </div>
    
    <div class="player-stand">
        <!-- PLAYER STAND WILL BE LOADED HERE-->
    </div>

    <input class="compare-again--button" type="submit" value="See how you compare" />

</form>