<div class="live-ticker">
	<h4 class="live-ticker--title"><%= vocabs.ticker_since_on_page %></h4>
	<div class="live-ticker--section live-ticker--section__yourself">
		<div class="icon__yourself"></div>
		<%= vocabs.ticker_you_earned %><br/>
		<span class="earned earned__yourself"></span>
	</div>
	<div class="live-ticker--section live-ticker--section__national-avg">
		<div class="icon__national-avg"></div>
		<%= country_earned_label %><br/>
		<span class="earned earned__national-avg"></span>
	</div>
	<div class="live-ticker--section live-ticker--section__player">
		<img class="icon__player" alt="Player icon"></img>
		<span class="player_earned_text"><%= player_earned_label %></span><br/>
		<span class="earned earned__player"></span>
	</div>
</div>