<div class="live-ticker">
	<h4 class="live-ticker--title">Since you've been on this page</h4>
	<div class="live-ticker--section live-ticker--section__yourself">
		<div class="icon__yourself"></div>
		You have earned:<br/>
		<span class="earned earned__yourself"></span>
	</div>
	<div class="live-ticker--section live-ticker--section__national-avg">
		<div class="icon__national-avg"></div>
		UK average salary:<br/>
		<span class="earned earned__national-avg"></span>
	</div>
	<div class="live-ticker--section live-ticker--section__player">
		<div class="icon__player"></div>
		<span class="player_earned_text">Player has earned</span><br/>
		<span class="earned earned__player"></span>
	</div>
</div>