<div class="players-wrapper">
    <div class="the-special-one row">
        <div class="footballer">
            <img class="footballer-image" />
        </div>
    </div>

    <div class="front-row row">
        <div class="footballer footballer-pos-1"><img class="footballer-image" /></div>
        <div class="footballer footballer-pos-2"><img class="footballer-image" /></div>
        <div class="footballer footballer-pos-3"><img class="footballer-image" /></div>
        <div class="footballer footballer-pos-4"><img class="footballer-image" /></div>
    </div>

    <div class="back-row row">
        <div class="footballer footballer-pos-1"><img class="footballer-image" /></div>
        <div class="footballer footballer-pos-2"><img class="footballer-image" /></div>
        <div class="footballer footballer-pos-3"><img class="footballer-image" /></div>
        <div class="footballer footballer-pos-4"><img class="footballer-image" /></div>                               
    </div>
</div>