<div class="players-wrapper">
    <div class="the-special-one row">
        <div class="footballer footballer-9"></div>
    </div>

    <div class="front-row row">
        <div class="footballer footballer-12 footballer-pos-1"></div>
        <div class="footballer footballer-13 footballer-pos-2"></div>
        <div class="footballer footballer-6 footballer-pos-3"></div>
        <div class="footballer footballer-2 footballer-pos-4"></div>
    </div>

    <div class="back-row row">
        <div class="footballer footballer-5 footballer-pos-1"></div>
        <div class="footballer footballer-15 footballer-pos-2"></div>
        <div class="footballer footballer-1 footballer-pos-3"></div>
        <div class="footballer footballer-23 footballer-pos-4"></div>                               
    </div>
</div>

<div class="preload">
    <div class="footballer footballer-1"></div>
    <div class="footballer footballer-2"></div>
    <div class="footballer footballer-3"></div>
    <div class="footballer footballer-4"></div>
    <div class="footballer footballer-5"></div>
    <div class="footballer footballer-6"></div>
    <div class="footballer footballer-7"></div>
    <div class="footballer footballer-8"></div>
    <div class="footballer footballer-9"></div>
    <div class="footballer footballer-10"></div>
    <div class="footballer footballer-11"></div>
    <div class="footballer footballer-12"></div>
    <div class="footballer footballer-13"></div>
    <div class="footballer footballer-14"></div>
    <div class="footballer footballer-15"></div>
    <div class="footballer footballer-16"></div>
    <div class="footballer footballer-17"></div>
    <div class="footballer footballer-18"></div>
    <div class="footballer footballer-19"></div>
    <div class="footballer footballer-20"></div>
    <div class="footballer footballer-21"></div>
    <div class="footballer footballer-22"></div>
    <div class="footballer footballer-23"></div>
    <div class="footballer footballer-24"></div>
</div>