<div class="yearly-salary">
	<p class="yearly-salary--text yearly-salary--text__top"><%= topTextMarkup %></p>
	<div class="timeline">
		<span class="timeline--date timeline--date__start"></span>
		<img class="timeline--image" src="http://news.bbcimg.co.uk/news/special/2015/newsspec_9602/content/english/img/timewarp.png" alt="Timewarp" />
		<span class="timeline--date timeline--date__end"></span>
	</div>
	<p class="yearly-salary--text yearly-salary--text__bottom"><%= bottomTextMarkup %></p>
	<div class="share-tools-holder"></div>
</div>