.compare-again{
	display: block;
	margin-left: 10px;
	padding:25px 0;
	background:#f2f2f2;
	max-width: 728px;
	margin: 60px auto 30px auto;

	.compare-again--input{
		display:block;
		padding:8px;
		font-size:1.4em;
		border:1px solid #404040;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;
		margin-top:4px;
		background:#fff;
		width: 100%;
		overflow: hidden;
	}
	.compare-again--input__dropdown{
		border-radius:0;
		-webkit-appearance: none;
		-webkit-border-radius: 0;	
		background:#fff url(../img/dropdown.png) center right no-repeat;
	}

	.input-section {
		max-width:300px;
		margin:auto;
		padding:0 0 12px 0;
	}

	label{
		font-size: 1.4em;
		font-weight:bold;
		line-height:1em;
		display:block;
		color:#404040;
		margin-bottom: 2px;
	}

	.compare-again--button {
		display: block;
		max-width:300px;
		margin:auto;
		width: 100%;
		color:#fff;
		font-weight:bold;
		font-size:1.6em;
		padding:12px;
		border:0;
		background:#007f7f;
	}
}

@include respondMinMax(650px, false){
	.compare-again{
		padding: 25px 38px;
	}
}