.shirts{
	border-top: 1px solid #d5d6d7;
	color: #404040;
	margin: 20px;
	text-align: center;
	padding-top: 34px;

	.shirts--text{
		font-weight: normal;
		font-size: 1.6em;
		line-height: 1.2em;
		padding: 6px 5px;
		max-width: 600px;
		margin: 0 auto 18px;
	}
	.shirts--graphic{
		max-width: 306px;
		max-height: 216px;
		margin: 20px auto;

		img{
			width: 100%;
		}
	}
}