.yearly-salary{
	color: #404040;
	margin: 20px;
	border-top: 1px solid #d5d6d7;
	text-align: center;
	padding-top: 10px;

	.timeline{
		.timeline--image{
			display: block;
			margin: 0 auto;
			height: 202px;
			width: 202px;
		}

		.timeline--date{
			color: #262C7E;
			font-weight: bold;
			font-size: 2.2em;
			text-align: center;
		}
	}

	.yearly-salary--text{
		font-weight: normal;
		font-size: 1.6em;
		line-height: 1.2em;
		padding: 6px 25px;
	}

}